@import '../../styles/variables.scss';

.dropdown {
    position: absolute;
    bottom: -85%;
    right: 0px;
    width: 40%;
    background-color: $addActivityGoalButton-color;
    border-radius: 4px;
    border: 1px solid #ccc;
    opacity: 0;
    transition: opacity 0.3s ease;

    .dropdownItem {
        overflow: hidden;
        padding: 5px;
        color: $addActivityGoalButton-text-color;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $addActivityGoalButton-color-hover;
            padding: 5px;
        }

        &:last-child {
            border-top: 1px solid #ccc;
        }
    }
}

.dropdownVisible {
    opacity: 1;
}
