@import '../../styles/variables.scss';

.dropdown {
    position: absolute;
    bottom: -50%;
    right: 0;
    width: 40%;
    background-color: $addActivityGoalButton-color;
    border-radius: 4px;
    border: 3px solid #ccc;
    opacity: 0;
    transition: opacity 0.3s ease;
    .dropdownItem {
        width: 100%;
        height: 100%;
        color: $addActivityGoalButton-text-color;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $addActivityGoalButton-color-hover;
        }

        &:last-child {
            border-top: 1px solid #ccc;
        }
    }
}

.dropdownVisible {
    opacity: 1;
}
