@import '../../styles/variables.scss';

.button-container {
    @include centered-flex(row);
    width: 85%;
    height: 70px;
    border-radius: $border-radius;
    border: none;
    background-color: $addActivityGoalButton-color;
    color: $addActivityGoalButton-text-color;
    transition: background-color 0.3s ease;
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: $addActivityGoalButton-color-hover;
    }

    &__icon {
        margin-top: -2px;
        width: 2.2rem;
        height: 2.2rem;
    }
    &__text {
        font-size: 1.2rem;
        font-weight: 700;
    }
}
.button-container--active {
    background-color: $addActivityGoalButton-color-hover;
}
