@import '../../styles/variables.scss';

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family;
    font-weight: 500;

    .form-container {
        min-width: 500px;
        background-color: white;
        padding: 40px;
        border-radius: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 5px solid $green-button-color;

        &__form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            justify-content: center;
            align-items: start;
            grid-template-rows: repeat(9, auto);

            input,
            select,
            textarea,
            button {
                width: 100%;
                padding: 5px;
                box-sizing: border-box;
                border-radius: 5px;
                resize: none;
                margin-bottom: 10px;
            }
        }
        .submit-button-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .submit-button {
                min-width: 300px;
                height: 40px;
                border-radius: 5px;
                border: none;
                background-color: $green-button-color;
                color: $green-button-text-color;
                font-size: 1.2rem;
                font-weight: bold;
                cursor: pointer;
                transition: background-color 0.2s ease-in-out;
                &:hover {
                    background-color: #ffffff;
                    border: 1px solid $green-button-color;
                    color: $green-button-color;
                }
            }
        }
    }
}

.title-container {
    background-color: #ffff;
    padding: 0px 20px;
    border-bottom: 4px solid $green-button-color;
    margin: 0 0 10px 0;
    .title {
        margin: 0;
        padding: 0;
        color: $green-button-color;
    }
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: #e63946;
    color: white;
    cursor: pointer;
    border-radius: 20%;
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
    &:hover {
        background-color: #fff;
        border: 1px solid #e63946;
        color: #e63946;
    }
}

.errorMessage {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}
